%article#buttonrow
	%strong Actions

	%button#loaddata         Load Data
	%button#datatotable      Table
	%button#datatobarchart   Barchart
	%button#datatotjava      Java
	%button#datatogscatter   GScatter
	%button#datatogbarchart  GBarchart

%article#status
	%strong Status
	%span#userlog &nbsp;

%article#datavis
	%h3 Visualization
	.datavis#datavis_main &nbsp;

